<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ermify 2: The Ermification</title>
    <link href="/static/style.css" rel = "stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="titleContainer">
        <h1>Ermify2: The Ermification</h1>
        <label for="q">ASK YOUR QUESTION HERE</label>
        <br>
        <div class="qContainer">
            <textarea id="q" name="q"></textarea>
            <button onclick="answer()">Ask</button>
        </div>
    </div>
    <br>
    <div class="flexContainer">
        <div class="innerFlex1">
            <p id="yeowch"></p>
            <img src="https://cdn.inspireuplift.com/uploads/images/seller_products/30455/1702298090_GOOFYAHHnerdemoji.png" class="head" onclick="yeowch()">
            <img src="https://images.emojiterra.com/twitter/v13.1/512px/261d.png" width="300" height="300" class="finger">
        </div>
        <div class="innerFlex2">
            <br>
            <h3 id="display"></h3>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>